
<table class="table table-striped table-condensed table-responsive marginT-15">
    <tr><th>Ballpark</th> <td>{{ballpark?.name}}</td></tr>
    <tr><th>Street </th> <td>{{ballpark?.street}} </td></tr>
    <tr><th>City </th><td>{{ballpark?.city}} </td></tr>
    <tr><th>State</th> <td>{{ballpark?.stateId}}</td>  </tr>
    <tr><th>Zip</th>  <td>{{ballpark?.zip}} </td></tr>
</table>
<div class="text-center">
    <button class="btn btn-primary" routerLink="/games">Back</button>
    <button class="btn btn-info" routerLink="/admin">Admin</button>
</div>
