<div class="row">
    <div class="col-6">
        <!--<state-filter></state-filter>-->
        <tournament-filter></tournament-filter>
    </div>
    <div class="col-6">
        <age-filter class="float-right"></age-filter>
    </div>
</div>


<table class="table table-striped marginT-15">
    <tr>
        <th >Home Team</th>
        <th>Away Team</th>
        <th>Ballpark</th>
        <th>Game Date</th>
        <th>Home Team Runs</th>
        <th>Away Team Runs</th>
        <!--<th></th>-->
    </tr>
    <tr *ngFor="let game of games" [ngClass]="setStyle(game)" >
        <td>{{game?.homeTeam.teamName || 'Loading Data...'}}</td>
        <td>{{game?.awayTeam.teamName || 'Loading data ...'}}</td>
        <td><button class="btn btn-sm" [routerLink]="['/ballparkDetail', game.ballparkId]"> {{game?.ballpark.name}}</button></td>
        <td>{{game?.gameDate | date:'short'}}</td>
        <td>{{game?.homeTeamRuns}}</td>
        <td>{{game?.awayTeamRuns}}</td>
        <!--<td> <button class="btn btn-default btn-sm" [routerLink]="['/gameDetail', game.id]">Details</button></td>-->
    </tr>
</table>

<!-- (click)="selectTeam(team.id)" data-toggle="modal" data-target="#myModal"-->