
<article class="container">
    <table class="table table-striped table-condensed table-responsive marginT-15">
        <tr><th>Team Name</th> <td>{{team?.teamName}}</td></tr>
        <tr><th>Age Group</th> <td>{{team?.ageGroup.name }}</td></tr>
        <!--<tr><th>Tournament</th></tr>-->
        <tr><th>Manager First Name</th>  <td>{{team?.managerFirstName}} </td></tr>
        <tr><th>Manager Last Name</th> <td>{{team?.managerLastName}}</td> </tr>
        <tr><th>Email</th>  <td>{{team?.email}} </td></tr>
        <tr><th>Phone </th> <td>{{team?.phone}} </td></tr>
        <tr><th>Street </th> <td>{{team?.street}} </td></tr>
        <tr><th>City </th><td>{{team?.city}} </td></tr>
        <tr><th>State</th> <td>{{team?.state.name}}</td>  </tr>
        <tr><th>Zip</th>  <td>{{team?.zip}} </td></tr>
        <tr><th>POC First Name</th><td>{{team?.pocFirstName}} </td></tr>
        <tr><th>POC Last Name </th> <td>{{team?.pocLastName}} </td></tr>
        <tr><th>POC Email </th><td>{{team?.pocEmail}} </td></tr>
        <tr><th>POC Phone </th><td>{{team?.pocPhone}} </td></tr>
        <tr><th>Record</th> <td>To Do</td></tr>
    </table>
    <div class="text-center">
        <button class="btn btn-primary" routerLink="/">Back</button>
        <button class="btn btn-info" routerLink="/admin">Admin</button>
    </div>

</article>