
<article class="container">
    <section>
        <h3>Team Info</h3>
        <div class="row">
            <div class="col-md-3">
                <span class="text-muted">Team Name</span> <br />
                {{team?.teamName}}
            </div>
            <div class="col-md-3">
                <span class="text-muted">Age Group</span> <br />
                {{team?.ageGroup.name}}
            </div>
            <div class="col-md-3">
                <span class="text-muted">Manager First Name</span> <br />
                {{team?.managerFirstName}}
            </div>
            <div class="col-md-3">
                <span class="text-muted">Manager Last Name</span> <br />
                {{team?.managerLastName}}
            </div>
        </div>

        <div class="row marginT-15">
            <div class="col-md-3">
                <span class="text-muted">Manager Email</span> <br />
                {{team?.email}}
            </div>
            <div class="col-md-3">
                <span class="text-muted">Manager Phone</span> <br />
                {{team?.phone}}
            </div>
            <div class="col-md-3">
                <span class="text-muted">Street</span> <br />
                {{team?.street}}
            </div>
            <div class="col-md-3">
                <span class="text-muted">City</span> <br />
                {{team?.city}}
            </div>
        </div>

        <div class="row marginT-15">
            <div class="col-md-3">
                <span class="text-muted">State</span> <br />
                {{team?.state.name}}
            </div>
            <div class="col-md-3">
                <span class="text-muted">Zip</span> <br />
                {{team?.zip}}
            </div>
            <div class="col-md-3">
                <span class="text-muted">POC Name</span> <br />
                {{team?.pocFirstName}} {{team?.pocLastName}}
            </div>
            <div class="col-md-3">
                <span class="text-muted">POC Email</span> <br />
                {{team?.pocEmail}}
            </div>
        </div>
    </section>


    <section class="marginT-15">
        <h3>Players</h3>
        <table class="table table-striped table-condensed table-responsive marginT-15">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>DOB</th>
            </tr>

            <tr *ngFor="let player of team?.players">
                <td>{{player?.firstName}}</td>
                <td>{{player?.lastName}}</td>
                <td>{{player?.dob | date:'short'}}</td>
            </tr>
        </table>
    </section>


    <div class="text-center">
        <button class="btn btn-primary" routerLink="/">Back</button>
        <button class="btn btn-info" routerLink="/admin">Admin</button>
    </div>

</article>