<!--<div class="form-group">
    <label>Id</label>
    <input class="form-control" [(ngModel)]="game.id" />
</div>-->
<div class="form-group">
    <label>Tournament</label>
    <select class="form-control" [(ngModel)]="game.tournamentId">
        <option *ngFor="let t of tournaments" [ngValue]="t.id">{{t.name}}</option>
    </select>
</div>
<div class="form-group">
    <label>Home Team</label>
    <select class="form-control" [(ngModel)]="game.homeTeamId" >
        <option *ngFor="let t of teams" [ngValue]="t.id">{{t.teamName}} ({{t.ageGroupId}})</option>
    </select>
</div>
<div class="form-group">
    <label>Away Team</label>
    <select class="form-control" [(ngModel)]="game.awayTeamId" >
        <option *ngFor="let t of teams" [ngValue]="t.id">{{t.teamName}} ({{t.ageGroupId}})</option>
    </select>
</div>

<div class="form-group">
    <label>Ballpark</label>
    <select class="form-control" [(ngModel)]="game.ballparkId" >
        <option *ngFor="let b of ballparks" [ngValue]="b.id">{{b.name}}</option>
    </select>
</div>
<div class="form-group">
    <label>Game Date</label>
    <input class="form-control" [(ngModel)]="game.gameDate" type="date"/>
</div>
<div class="form-group">
    <label>Home Team Runs</label>
    <input class="form-control" [(ngModel)]="game.homeTeamRuns" />
</div>
<div class="form-group">
    <label>Away Team Runs</label>
    <input class="form-control" [(ngModel)]="game.awayTeamRuns" />
</div>

