
<h4> Players</h4>

<table *ngIf="tableMode; else create" class="table table-sm table-striped">
    <tr>
        <!--<th>ID</th>-->
        <th>Team</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th></th>
    </tr>
    <tr *ngFor="let p of players">
        <ng-template [ngIf]="player?.id != p.id" [ngIfElse]="edit">
            <!--<td>{{p.id}}</td>-->
            <td>{{p.team.teamName}}</td>
            <td>{{p.firstName}}</td>
            <td>{{p.lastName}}</td>
            <td>{{p.dob | date:'short'}}</td>
            <td>
                <button class="btn btn-sm btn-primary" (click)="selectPlayer(p.id)"> Edit</button>
                <button class="btn btn-sm btn-danger" (click)="deletePlayer(p.id)"> Delete </button>
            </td>
        </ng-template>
    </tr>
    <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <button class="btn btn-primary" (click)="clearPlayer(); tableMode = false"> Create Player</button>
            </td>
        </tr>
    </tfoot>
</table>

<ng-template #edit>
    <td colspan="6">
        <admin-player-editor></admin-player-editor>
        <div class="text-center">
            <button class="btn btn-sm btn-primary" (click)="savePlayer()">  Save Player</button>
            <button class="btn btn-sm btn-info" (click)="clearPlayer()"> Cancel</button>
        </div>
    </td>
</ng-template>
<ng-template #create>
    <admin-player-editor></admin-player-editor>
    <button class="btn btn-primary" (click)="savePlayer()">  Save Player</button>
    <button class="btn btn-info" (click)="clearPlayer()"> Cancel</button>
</ng-template>