
<h4> Team Admin </h4>
<tournament-filter></tournament-filter>

<table *ngIf="tableMode; else create" class="table table-sm table-striped  marginT-15">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Tournament</th>
        <th>Manager First Name</th>
        <th>Manager Last Name</th>
        <th>State</th>
        <th>Age Group</th>
        <th></th>
    </tr>
    <tr *ngFor="let t of teams"  >
        <ng-template [ngIf]="team?.id != t.id" [ngIfElse]="edit" >
            <td>{{t.id}}</td>
            <td>{{t.teamName}}</td>
            <td>{{t.tournament.name || '(None)'}}</td>
            <td>{{t.managerFirstName}}</td>
            <td>{{t.managerLastName}}</td>
            <td>{{t.state.name}}</td>
            <td>{{t.ageGroup.age}}</td>
            <td>
                <button class="btn btn-sm btn-primary" (click)="selectTeam(t.id)"> Edit</button>
                <button class="btn btn-sm btn-danger" (click)="deleteTeam(t.id)"> Delete </button>
            </td>
        </ng-template>
    </tr>
    <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <button class="btn btn-primary  marginT-15" (click)="clearTeam(); tableMode = false"> Create Team</button>
            </td>
        </tr>
    </tfoot>
</table>

<ng-template #edit>
    <td colspan="6">
        <admin-team-editor></admin-team-editor>
        <div class="text-center">
            <button class="btn btn-sm btn-primary" (click)="saveTeam()">  Save Team</button>
            <button class="btn btn-sm btn-info" (click)="clearTeam()"> Cancel</button>
        </div>
    </td>
</ng-template>
<ng-template #create>
    <admin-team-editor></admin-team-editor>
    <button class="btn btn-primary" (click)="saveTeam()">  Save Team</button>
    <button class="btn btn-info" (click)="clearTeam()"> Cancel</button>
</ng-template>

<!--<admin-player></admin-player>-->