
<h4> Team Admin Placeholder</h4>

<table *ngIf="tableMode; else create" class="table table-sm table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
    </tr>
    <tr *ngFor="let t of tournaments">
        <ng-template [ngIf]="tournament?.id != t.id" [ngIfElse]="edit">
            <td>{{t.id}}</td>
            <td>{{t.name}}</td>
            <td>{{t.startDate}}</td>
            <td>{{t.endDate}}</td>
            <td>
                <button class="btn btn-sm btn-primary" (click)="selectTeam(t.id)"> Edit</button>
                <button class="btn btn-sm btn-danger" (click)="deleteTournament(t.id)"> Delete </button>
            </td>
        </ng-template>
    </tr>
    <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <button class="btn btn-primary" (click)="clearTournament(); tableMode = false"> Create </button>
            </td>
        </tr>
    </tfoot>
</table>

<ng-template #edit>
    <td colspan="6">
        <admin-tournament-editor></admin-tournament-editor>
        <div class="text-center">
            <button class="btn btn-sm btn-primary" (click)="saveTournament()">  Save</button>
            <button class="btn btn-sm btn-info" (click)="clearTournament()"> Cancel</button>
        </div>
    </td>
</ng-template>
<ng-template #create>
    <admin-tournament-editor></admin-tournament-editor>
    <button class="btn btn-primary" (click)="saveTournament()">  Save </button>
    <button class="btn btn-info" (click)="clearTournament()"> Cancel</button>
</ng-template>